---
BasedOnStyle: LLVM
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
ObjCBlockIndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
AlwaysBreakAfterReturnType: TopLevel
SpaceBeforeParens: Never
...
